body 
{
    padding-top: 50px; /* needed when using navbar-fixed-top for topnav */
}


.lobster-big
{
    font-weight: 100;
    font-size: 38px;
    line-height: 1.7;
    font-family: 'Lobster Two', Helvetica, sans-serif;
    /*color: green;*/
}

.lobster-xl
{
    font-weight: 300;
    font-size: 75px;
    line-height: 1.0;
    font-family: 'Lobster Two', Helvetica, sans-serif;
    /*color: green;*/
}

.lobster
{
    font-family: 'Lobster Two', Helvetica, sans-serif;
}

.new-tegomin-big
{
    font-weight: 100;
    font-size: 38px;
    line-height: 1.7;
    font-family: 'New Tegomin', Helvetica, sans-serif;
    /*color: green;*/
}

.new-tegomin-xl
{
    font-weight: 300;
    font-size: 75px;
    line-height: 1.0;
    font-family: 'New Tegomin', Helvetica, sans-serif;
    /*color: green;*/
}

.new-tegomin
{
    font-family: 'New Tegomin', Helvetica, sans-serif;
}

.helvetica-big
{
    font-weight: 100;
    font-size: 38px;
    line-height: 1.1;
    font-family: Helvetica, sans-serif;
    /*color: green;*/
}

.helvetica-xl
{
    font-weight: 300;
    font-size: 75px;
    line-height: 1.0;
    font-family: Helvetica, sans-serif;
    /*color: green;*/
}

.helvetica-md
{
    font-weight: 300;
    font-size: 18px;
    line-height: 1.0;
    font-family: Helvetica, sans-serif;
    color: green;
}

.helvetica
{
    font-family: Helvetica, sans-serif;
}

.navhack {
    width: calc(100% - 95px);
}

.not-a-button-hack {
   cursor: default;
   border: none; 
}

.not-a-button-hack:hover {
    cursor: default;
    border: none; 
 }
 
.always-pointer-hack:hover {
    cursor: pointer;
    border: none; 
 }
 
.overflowy
{
    overflow-y: auto;
}

/* a custom look for decision buttons: yellow when not active, green when active */
.btn-decision, .btn-group > .btn-decision:last-child:not(first-child) {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
  border-radius: 10px;
  margin-left: 3px;
}

.btn-decision:hover, .btn-group > .btn-decision:hover:last-child:not(first-child) {
  color: #fff;
  background-color: #d9a406;
  border-color: #cc9a06;
}

.btn-decision:active,
.btn-decision.active, .btn-group > .btn-decision.active:last-child:not(first-child),
.open > .dropdown-toggle.btn-decision {
  color: #ffffff;
  background-color: #59822c;
  border-color: #547a29;
}
.btn-decision:active:hover,
.btn-decision.active:hover,
.open > .dropdown-toggle.btn-decision:hover,
.btn-decision:active:focus,
.btn-decision.active:focus,
.open > .dropdown-toggle.btn-decision:focus,
.btn-decision:active.focus,
.btn-decision.active.focus,
.open > .dropdown-toggle.btn-decision.focus {
  color: #ffffff;
  background-color: #476723;
  border-color: #324919;
}
.btn-decision:active,
.btn-decision.active,
.open > .dropdown-toggle.btn-decision {
  background-image: none;
}
/* end */

/* make btn-info active look like btn-info-active */
/*
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #9a161a;
  border-color: #911419;
}
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.btn-info:active.focus,
.btn-info.active.focus {
  color: #ffffff;
  background-color: #7b1115;
  border-color: #570c0f;
}
.btn-info:active,
.btn-info.active {
  background-image: none;
}
*/
/* end */

.infobox {
    color: white;
    padding: 7px;
    font-size: larger;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.vcr {
    width: 50px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.tbd
{
    border: 1px dotted red;
}

.text-right
{
    text-align: right;
}

.text-overlay-container
{
    position: relative;
}

.text-overlay-text
{
    position: absolute;
    top: 100px;
    left: 15px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.text-wrap
{
    white-space: normal;
}



.image-credits img
{
    max-width: 100%;
    max-height: 100px;
}

.image-credits .row
{
    border-bottom: 1px solid gray;
    padding: 15px;
}

.image-credits dt
{
    text-align: center;
}

.highlights h3, .highlights h2
{
    color: #042b51;
}